<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746006227563-g6j62sqdf9nm3gbpe7to2o17t5ecl702.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746006227563-g6j62sqdf9nm3gbpe7to2o17t5ecl702</string>
	<key>API_KEY</key>
	<string>AIzaSyDRuZLaWlVogwJLd9m-H4DrWf8ycikRF-A</string>
	<key>GCM_SENDER_ID</key>
	<string>746006227563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.slack</string>
	<key>PROJECT_ID</key>
	<string>fastapp-adb33</string>
	<key>STORAGE_BUCKET</key>
	<string>fastapp-adb33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746006227563:ios:133d7b701f8b9c510a1f2e</string>
</dict>
</plist>